In [1]:
#1
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
#2
sum=0
ls=[73,2,65,11,98,384,85]
for i in ls:
    sum=sum+i
print(sum)

718

In [5]:
#2
st="My name is Siddharth"
st1=""
for i in st[::-1]:
    st1=st1+i
print(st1)

htrahddiS si eman yM

In [7]:
#5
num=int(input("Enter the number for which multiplication table has to be derived"))
for i in range(1,11):
    print(num,"*",i,"is",num*i)

Enter the number for which multiplication table has to be derived 21

21 * 1 is 21
21 * 2 is 42
21 * 3 is 63
21 * 4 is 84
21 * 5 is 105
21 * 6 is 126
21 * 7 is 147
21 * 8 is 168
21 * 9 is 189
21 * 10 is 210

In [8]:
#6
ls=[73,2,65,11,98,384,85]
even=[]
odd=[]
for i in ls:
    if i%2==0:
        even.append(i)
    elif i%2==1:
        odd.append(i)
print("The even numbers in the list are",even)
print("The odd numbers in the list are",odd)

The even numbers in the list are [2, 98, 384]
The odd numbers in the list are [73, 65, 11, 85]

In [9]:
#7
for i in range(1,6):
    print(i**2)

1
4
9
16
25

In [10]:
#8
st="My name is Siddharth"
len=0
for i in st:
    len=len+1
print("The length of the string is",len)

The length of the string is 20

In [11]:
#9
sum=0
count=0
ls=[73,2,65,11,98,384,85]
for i in ls:
    sum=sum+i
    count=count+1
print(sum)
print("The average of numbers is",sum/count)

718
The average of numbers is 102.57142857142857

In [23]:
#13
st="My name is Siddharth"
vow=['a','e','i','o','u']
ls=[]
for i in st:
    if i in vow:
        ls.append(i)
print(ls)
st=set(ls)
print("The vowels present in the string are",st)

['a', 'e', 'i', 'i', 'a']
The vowels present in the string are {'e', 'i', 'a'}

In [24]:
#18
ls1=[73,2,65,11,98,384,85]
ls2=[74,93,94,21,50,98]
ls3=[]
for i in ls1:
    if i in ls2:
        ls3.append(i)
print("The common elements in the 2 lists are",ls3)

The common elements in the 2 lists are [98]

In [26]:
#19
for i in range(1,10):
    for j in range(1,i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [31]:
#27
ls=[]
for i in range(1,11):
    if i%2==1:
        ls.append(i**2)
ls

[1, 9, 25, 49, 81]

In [27]:
#29
st="My name is Siddharth"
vow=['a','e','i','o','u']
ls=[]
for i in st:
    if i in vow:
        ls.append(i)
print("The list of vowels are",ls)

The list of vowels are ['a', 'e', 'i', 'i', 'a']

In [30]:
#30
st="My1 name i2s Siddh3arth"
st1=""
for i in st:
    if i.isalpha()==True or i==" ":
        st1=st1+i
print(st1)

My name is Siddharth