# For loop

In [3]:
#1 
for i in range(1,11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
#2
for loop is used to execute a loop for a predefined number of times.
while loop is used to execute a loop till a condition is satisfied.

In [6]:
#3
sum=0
for i in range(1,101):
    sum=sum+i
print(f"Sum of the numbers 1 to 100 is {sum}")

Sum of the numbers 1 to 100 is 5050

In [ ]:
#4 Example for iteration using for loop is as follows
ls=[1,3,5,2,5,26,20,94,294,13]
for i in ls:
    print(i, end=" ")

In [9]:
#5
prod=1
ls=[1,3,5,2,5,26,20,94,294,13]
for i in ls:
    prod=prod*i
print("The product of all elements in the list is", prod)

The product of all elements in the list is 28022904000

In [11]:
#6 
for i in range(1,21):
    if i%2==0:
        print(i, end=" ")

2 4 6 8 10 12 14 16 18 20

In [17]:
#7
def fact(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    print(f"The factorial of the number is {fact}")

In [18]:
fact(10)

The factorial of the number is 3628800

In [19]:
#8 Example for iteration using for loop is as follows
st="Hello, I am Siddharth"
for i in st:
    print(i,end="")

Hello, I am Siddharth

In [24]:
#9
ls=[1,3,5,2,5,26,20,94,294,13]
max=ls[0]
for i in ls[1:]:
    if i>max:
        max=i
print("The maximum value in the list is",max)

The maximum value in the list is 294

In [27]:
#11
vow_count=0
st="Hello, I am Siddharth"
vow=['a','e','i','o','u']
for i in st:
    if i in vow:
        vow_count=vow_count+1
print("The number of vowels in the string is",vow_count)

The number of vowels in the string is 5

In [28]:
#12 
def mul_table(n):
    for i in range(1,21):
        print(f"{n} x {i} = {n*i}")

In [29]:
mul_table(11)

11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
11 x 11 = 121
11 x 12 = 132
11 x 13 = 143
11 x 14 = 154
11 x 15 = 165
11 x 16 = 176
11 x 17 = 187
11 x 18 = 198
11 x 19 = 209
11 x 20 = 220

In [30]:
#13
lst=[32,19,20,94,93,22,93,25]
for i in lst[::-1]:
    print(i,end=" ")

25 93 22 93 94 20 19 32

In [31]:
#14
lst1=[32,19,20,94,93,22,93,25]
lst2=[32,25,20,96,94,23,98,26]
lst3=[]
for i in lst1:
    if i in lst2:
        lst3.append(i)
print(f"The common elements in the list is {lst3}")

The common elements in the list is [32, 20, 94, 25]

In [33]:
#15
dict1={"Name 1":"Ajay","Name 2":"Balaji","Name 3":"Sid"}
for i in dict1.keys():
    print(f"The {i} & the corresponding name is {dict1[i]}")

The Name 1 & the corresponding name is Ajay
The Name 2 & the corresponding name is Balaji
The Name 3 & the corresponding name is Sid

In [36]:
for i in dict1.values():
    print(f"The names provided in the dictionary are {i}")

The names provided in the dictionary are Ajay
The names provided in the dictionary are Balaji
The names provided in the dictionary are Sid

In [44]:
#17
st1="Malayalam"
st2=""
st1=st1.lower()
for i in st1[::-1]:
    st2=st2+i
if st1==st2:
    print("The string is a palindrome")
else:
    print("The string is not a palindrome")

The string is a palindrome

In [46]:
#19
st="This is a sample sentence"
lst=st.split()
count=0
for i in lst:
    count+=1
print("The number of words in the sentence is",count)

The number of words in the sentence is 5

In [47]:
#20
sum=0
for i in range(1,51):
    if i%2!=0:
        sum=sum+i
print("The sum of odd numbers from 1 to 50 is",sum)

The sum of odd numbers from 1 to 50 is 625

In [48]:
#21
def leap_year(n):
    if n%4==0:
        print("The year is a leap year")
    else:
        print("The year is not a leap year")

In [49]:
leap_year(2004)

The year is a leap year

In [50]:
leap_year(2005)

The year is not a leap year

# If-Else

In [51]:
#1
def num_check(n):
    if n>0:
        return "The number is positive"
    elif n<0:
        return "The number is negative"
    else:
        return "The number is zero"

In [52]:
num_check(-20)

'The number is negative'

In [53]:
#2
def odd_even_check(n):
    if n%2==0:
        return "The number is even"
    elif n%2!=0:
        return "The number is odd"

In [54]:
odd_even_check(23)

'The number is odd'

In [55]:
#4
num1=int(input("Enter number 1"))
num2=int(input("Enter number 2"))
num3=int(input("Enter number 3"))
if num1>num2 and num1>num3:
    print(f"{num1} is the greatest of all")
elif num2>num1 and num2>num3:
    print(f"{num2} is the greatest of all")
else:
    print(f"{num3} is the greatest of all")

Enter number 1 32
Enter number 2 52
Enter number 3 11

52 is the greatest of all

In [1]:
#5
def abs_val(n):
    if n<0:
        return n*-1
    else:
        return n

In [2]:
abs_val(-5)

5

In [3]:
#6
def vow_check(n):
    vow=['a','e','i','o','u']
    if n in vow:
        return "The given character is a vowel"
    else:
        return "The given character is a consonent"

In [4]:
vow_check('b')

'The given character is a consonent'

In [5]:
#7
def vote_check(n):
    if n>=18:
        return "The user is eligible to vote"
    else:
        return "The user is not eligible to vote"

In [6]:
vote_check(19)

'The user is eligible to vote'

In [9]:
#8
def discount_calculator(cost):
    if cost<10:
        print("The discount is 0 INR")
    elif 10<=cost<100:
        print(f"The discount is {cost*0.10} INR")
    elif 100<=cost<1000:
        print(f"The discount is {cost*0.20} INR")

In [10]:
discount_calculator(120)

The discount is 24.0 INR

In [11]:
#9
def range_check(n):
    if n in range(0,100):
        return "The number is in specified range"
    else:
        return "The number is not in specified range"

In [12]:
range_check(120)

'The number is not in specified range'

In [18]:
#10
def grade(n):
    if n>90:
        return "The student has secured A+ grade"
    elif 81<n<=90:
        return "The student has secured A grade"
    elif 71<n<=80:
        return "The student has secured B grade"
    elif 61<n<=70:
        return "The student has secured C grade"
    else:
        return "The student has failed"

In [19]:
grade(91)

'The student has secured A+ grade'

In [20]:
grade(54)

'The student has failed'

In [21]:
#11
def str_len(n):
    if len(n)>0:
        return "The string is not empty"
    else:
        return "The string is empty"

In [22]:
str_len('a')

'The string is not empty'

In [23]:
str_len('')

'The string is empty'

In [ ]:
#12
a=int(input("Enter the length of side 1"))
b=int(input("Enter the length of side 2"))
c=int(input("Enter the length of side 3"))
if a==b==c:
    print("It is an equilateral triangle")
elif a==b or b==c or a==c:
    print("It is an isosceles triangle")
else:
    print("It is a scalene triangle")

Enter the length of side 1 19
Enter the length of side 2 12
Enter the length of side 3 19

It is an isosceles triangle

In [27]:
#13
def day_check():
    day=int(input("Enter the day of the week"))
    if day<1 or day>7:
        print("Enter the day between 1 and 7")
    else:
        if day==1:
            print("The day is Monday")
        elif day==2:
            print("The day is Tuesday")
        elif day==3:
            print("The day is Wednesday")
        elif day==4:
            print("The day is Thursday")
        elif day==5:
            print("The day is Friday")
        elif day==6:
            print("The day is Saturday")
        elif day==7:
            print("The day is Sunday")

In [28]:
day_check()

Enter the day of the week 15

Enter the day between 1 and 7

In [29]:
day_check()

Enter the day of the week 5

The day is Friday

In [30]:
#14
def year_check(n):
    if n%4==0:
        return "It is a leap year"
    else:
        return "It is not a leap year"

In [31]:
year_check(2005)

'It is not a leap year'

In [3]:
#16
def senior_citizen_discount(n):
    if n>60:
        return "The person is eligible for senior citizen discount"
    else:
        return "The person is not eligible for senior citizen discount"

In [4]:
senior_citizen_discount(61)

'The person is eligible for senior citizen discount'

In [11]:
#17
def character_recognition():
    st=input("Enter the character to be be verified for the case")
    if st.isupper()==True:
        return "The character is upper case"
    elif st.islower()==True:
        return "The character is lower case"
    else:
        return "The character is neither upper or lower case"

In [12]:
character_recognition()

Enter the character to be be verified for the case a

'The character is lower case'

In [29]:
#19
def century_year_check(n):
    if n%100==0:
        return "The year is century year"
    else:
        return "The year is not century year"

In [30]:
century_year_check(2400)

'The year is century year'

In [31]:
century_year_check(2001)

'The year is not century year'

In [41]:
#20
def square_check(n):
    count=0
    for i in range(1,n):
        if i*i==n:
            count=count+1
        else:
            pass
    if count==1:
        return "The number is a perfect square"
    else:
        return "The number is not a perfect square"

In [42]:
square_check(81)

'The number is a perfect square'

In [43]:
square_check(85)

'The number is not a perfect square'

In [44]:
#21 
# Continue statement is used to skip the remaining part of the iteration within a loop & proceed with the next iteration
# Break statement is used to break the remaining part of the loop & move out of the loop

In [47]:
#22
bmi=30
if bmi<18.5:
    print("The person is Underweight")
elif 18.5>=bmi<=24.9:
    print("The person is Normal weight")
elif 25.0>=bmi<=29.9:
    print("The person is Over weight")
else:
    print("The person is Obese")

The person is Obese

In [52]:
#24
def prime_check(n):
    count=0
    for i in range(2,n):
        if n%i==0:
            count=count+1
    if count==0:
        return "The number is prime"
    else:
        return "The number is not prime"

In [53]:
prime_check(71)

'The number is prime'

In [54]:
prime_check(121)

'The number is not prime'

# Map

In [1]:
#1 
# Map is used to apply a function to all elements of a list / tuple / string & display the result

In [2]:
#2
lst=[1,2,3,4,5,6,7]
list(map(lambda x:x**2,lst))

[1, 4, 9, 16, 25, 36, 49]

In [3]:
#3 
# List comprehension returns a list, whereas Map returns a map object. In List Comprehension, filtering is possible, wehereas in Map, we don't have the filtering facility.

In [13]:
#4
lst=['Sidd','Ajay','Balaji']
list(map(lambda x:x.upper(),lst))

['SIDD', 'AJAY', 'BALAJI']

In [5]:
#5
lst=['Sidd','Ajay','Balaji']
list(map(lambda x:len(x),lst))

[4, 4, 6]

In [7]:
#7
lst_celcius=[36,29.9,47,11]
lst_fahrenheit=list(map(lambda x:(x*9/5)+32,lst))
print(f"The temperature in fahrenheit is {lst_fahrenheit}")

The temperature in fahrenheit is [96.8, 85.82, 116.6, 51.8]

In [10]:
#8
lst=[83.2,49.9,29.0,11.1]
list(map(lambda x:round(x),lst))

[83, 50, 29, 11]

# Reduce

In [ ]:
#1 
# Reduce is to perform a certain action, say addition, multiplication etc. among all the elements present in the list / tuple & produces a single valued result

In [2]:
from functools import reduce

In [3]:
#2
lst=[1,2,3,4,5]
reduce(lambda x,y:x*y,lst)

120

In [4]:
#3
lst=[1,2,3,4,5,6,4,2,1]
reduce(lambda x,y:x if x>y else y,lst)

6

In [6]:
#4
lst=['Ajay','Balaji','Sid']
reduce(lambda x,y:x+y, lst)

'AjayBalajiSid'

In [7]:
#5
n=10
reduce(lambda x,y:x*y,range(1,n+1))

3628800

In [8]:
#7
lst=[1,2,3,4,5,6,4,2,1]
reduce(lambda x,y:x+y,lst)

28

# Filter

In [2]:
#1
# Filter is used to filter out an iterable based on a certain condition / function. It applies the condition to all elements of the iterable & returns the elements which satisfies the specific condition

lst=[1,2,3,4,56]
list(filter(lambda x:x%2==0,lst)) #Returns even numbers in the form of list

[2, 4, 56]

In [3]:
#2
lst=[1,2,3,4,56]
list(filter(lambda x:x%2==0,lst))

[2, 4, 56]

In [5]:
#3
lst=['Ajay','Balaji','Sidd']
list(filter(lambda x:x[0]=='B',lst))

['Balaji']

In [8]:
#5
lst=['Ajay','Balaji','','Sidd']
list(filter(lambda x:x=='',lst))

['']

In [10]:
#6
lst=['Ajay','Balaji','','Sidd']
list(filter(lambda x:len(x)>5,lst))

['Balaji']

# Recursion

In [ ]:
#1
# Recursion is a concept where a function calls itself till the execution is complete. 
# Recursion is different from For loop as in For loop, the execution depends on the iterable, whereas Recursion depends on the function

In [18]:
#2
def fact(n):
    if n<=0:
        return 1
    else:
        return n*fact(n-1)

In [19]:
fact(5)

120

In [16]:
#3
def fib(n):
    if n<=0:
        return 1
    else: 
        return fib(n-1)+fib(n-2)

In [17]:
fib(5)

13

# Basics of Functions:

In [1]:
#1 
# Function is a block of code which is used to perform certain task whenever called. We can pass values to function (or) we can execute a function without passing any value to it.

In [2]:
#2 
'''
We define a function in below format

def <function_name>(<optional_parameter>):
    body
    return x #optional
'''

'\ndef <function_name>(<optional_parameter>):\n    body\n    return x #optional\n'

In [3]:
#3 
#Function definition is used to perform a specific task & function call is the statement that is used to invoke / call the function.

In [5]:
#4 
def sum(a,b):
    return a+b

In [6]:
sum(2,3)

5

In [7]:
#5 

#Function signature refers to the name, arguments the function accepts & the return type of the function

In [8]:
#6
def prod(a,b):
    return a*b

In [9]:
prod(2,3)

6

# Function Parameters and Arguments:

In [10]:
#1 
#Formal arguments are the variables used in the function definition to accept the value that is passed from the function call statement. 
# Actual arguments are the actual values that are passed to the formal arguments in the function call statement.

In [11]:
#2 
def sample_func(a=10,b=20):
    return a+b

In [12]:
sample_func()

30

In [13]:
sample_func(11,27)

38

In [16]:
#3
# We use keyword arguments in function calls as follows

def sample_func(a,b):
    print(f"The value of a & b is {a} & {b} respectively")
    return a+b

In [17]:
sample_func(b=20,a=7)

The value of a & b is 7 & 20 respectively

27

In [1]:
#4
def variable_arguments_function(*args):
    return sum(args)

In [2]:
variable_arguments_function(1,2,3,4,5)

15

In [3]:
variable_arguments_function(1,2,3)

6

In [5]:
#5
# *args is used to pass variable number of parameters/arguments to a function
# **kwargs is used to pass variable number of key - value pairs (keyword arguments) to a function
# Instead of args & kwargs, we can specify any different name as well. But the prefix has to be * / **

# Return Values & Scoping

In [7]:
#1
# Role of return statement is used to terminate the function execution & pass the result back to the function call statement

In [11]:
#3
# A function with another function as an argument or returns a function as an output is called the High order function

def prod1(a,b):
    def prod2():
        return a*b
    return prod2()

In [13]:
prod1(2,3)

6

# Lambda Functions and Higher-Order Functions:

In [23]:
#1
# Lambda functions are similar to normal functions. But they don't have a name & hence they are also called anonymous functions. They are used to define a function in a single line of code

In [ ]:
#3
# Higher order functions use functions as a parameter / argument (or) return functions as output
# Map, Filter & Reduce are examples of higher order functions

'''
Example

lst=[1,2,3,4,5]
list(map(lambda x:x**2,lst))

Here lambda is a function & map uses lambda function as a parameter / argument. Hence it is a Higher order function. 

'''

In [25]:
#4
lst=[1,2,3,4,5]
list(filter(lambda x:x%2==0,lst))

[2, 4]

# Built-in Functions:

In [ ]:
#1
# len() - Returns the number of elements in an object
# max() - Returns the maximum value of element present in an object
# min() - Returns the minimum value of element present in an object

In [20]:
#2
lst=[1,2,3,4,5]
list(map(lambda x:x**2,lst))

[1, 4, 9, 16, 25]

In [ ]:
#3
# Filter function is used to filter the iterable based on a specific condition / function

In [22]:
#4
from functools import reduce
lst=[1,2,3,4,5]
reduce(lambda x,y:x*y,lst)

120

# Function Documentation and Best Practices

In [14]:
#1 
# Docstrings provide a convenient way of documentation with Python functions. It provides what a function does. 
# It is declared with triple-single quotes (or) triple double-quotes

def func():
    '''
    This is a sample function to explain how a docstring is provided
    '''
    pass

In [16]:
#2 
'''
Naming Conventions

Function - Camelcase - All characters / words should be in small case, separated by underscores
Variable - Camelcase - All characters / words should be in small case, separated by underscores
'''

'\nNaming Conventions\n\nFunction - Camelcase - All characters / words should be in small case, separated by underscores\nVariable - Camelcase - All characters / words should be in small case, separated by underscores\n'