TOPIC: String Based Assignment Problem

In [2]:
#1
st="Hello"
rev_st=st[::-1]
print("The reversed string is",rev_st)

The reversed string is olleH

In [4]:
#2
st1="Word"
rev_st1=st1[::-1]
if st1==rev_st1:
    print("The string is a palindrome")
else:
    print("The string is not a palindrome")

The string is not a palindrome

In [5]:
#3
st2="Text"
print("Upper case text is",st2.upper())

Upper case text is TEXT

In [6]:
#4
st3="TEXT"
print("Lower case text is",st3.lower())

Lower case text is text

In [2]:
#5
st="word"
count=0
for i in st:
    if i in ['a','e','i','o','u']:
        count=count+1

print("The total number of vowels in the string is",count)

The total number of vowels in the string is 1

In [2]:
#6 
st="word"
count=0
for i in st:
    if i not in ['a','e','i','o','u']:
        count=count+1

print("The total number of consonents in the string is",count)

The total number of consonents in the string is 3

In [1]:
#7
st="Hi, how are you doing?"
bst=""
for i in st:
    if i != " ":
        bst=bst+i
print("The string after removal of white space is",bst)

The string after removal of white space is Hi,howareyoudoing?

In [2]:
#8
st="Hi, this is the string"
count=0
for i in st:
    count=count+1
print("The length of the string is",count)

The length of the string is 22

In [13]:
#9
st="Hi, this is the string"
x="the"
ls=st.split()
ls
count=0
for i in ls:
    if i==x:
        count=count+1
if count!=0:
    print("The string contains the specific word")
else:
    print("The string does not contain the specific word")

The string contains the specific word

In [6]:
st="Hi, this is the string"
x="the"
if x in st:
    print("The string contains the specific word")
else:
    print("The string does not contain the specific word")

The string contains the specific word

In [3]:
#10
st="This is Python exercise"
st.replace("Python", "coding")

'This is coding exercise'

In [17]:
#11
st="I live in Chennai and Chennai is the capital of Tamil Nadu"
ls=st.split()
print(ls)
count=0
for i in ls:
    if i=="Chennai":
        count=count+1
print("The word Chennai is present in the string",count,"times")

['I', 'live', 'in', 'Chennai', 'and', 'Chennai', 'is', 'the', 'capital', 'of', 'Tamil', 'Nadu']
The word Chennai is present in the string 2 times

In [4]:
#12
st="This is Python exercise"
st.find("Python")

8

In [22]:
#13
st="This is Python exercise"
st.rfind("Hello")

-1

In [8]:
#14
st.split(" ")

['This', 'is', 'Python', 'exercise']

In [1]:
#15
lst = ['This', 'is', 'Python', 'exercise']

In [4]:
print(" ".join(lst))

This is Python exercise

In [15]:
#16
st.replace(" ", "_")

'This_is_Python_exercise'

In [18]:
#17
st.startswith('This')

True

In [21]:
#18
st.endswith("exercise")

True

In [2]:
#19
st1="hello world"
st1.title()

'Hello World'

In [9]:
#20
st="This is the sample sentence"
ls=st.split()
le=0
longest_word=""
for i in ls:
    if len(i)>le:
        le=len(i)
        longest_word=i
print("The longest word in the sentence is '",longest_word,"'")

The longest word in the sentence is ' sentence '

In [10]:
#21
st="This is the sample sentence"
ls=st.split()
le=30
shortest_word=""
for i in ls:
    if len(i)<le:
        le=len(i)
        shortest_word=i
print("The shortest word in the sentence is '",shortest_word,"'")

The shortest word in the sentence is ' is '

In [16]:
#22
st+"This is the sample sentence"
ls=st.split()
rev_ls=ls[::-1]
print("The reversed string is '"," ".join(rev_ls),"'")

The reversed string is ' sentence sample the is This '

In [26]:
#23
st.isalnum()

False

In [32]:
#24
st="1. My name is Sid 2. My friend's name is Ajay"
text=""
for i in st:
    if i.isnumeric():
        text= text+i
print(text)

12

In [33]:
#25
st="1. My name is Sid 2. My friend's name is Ajay"
text=""
for i in st:
    if i.isalpha():
        text= text+i
print(text)

MynameisSidMyfriendsnameisAjay

In [3]:
#26
st="Ajay Gunaseelan"
count=0
for i in st:
    if i.isupper():
        count=count+1
print("The number of upper letters is",count)

The number of upper letters is 2

In [39]:
#27
st="Ajay Gunaseelan"
count=0
for i in st:
    if i.islower():
        count=count+1
print("The number of lowercase letters is",count)

The number of lowercase letters is 12

In [17]:
#28
st="Ajay Gunaseelan"
swapped_st=st.swapcase()
print(swapped_st)

aJAY gUNASEELAN

In [22]:
#29
st="This is the sentence"
ls=st.split()
word_to_remove="the"
new_ls=[]
for i in ls:
    if i!=word_to_remove:
        new_ls.append(i)    
print(" ".join(new_ls))

This is sentence

In [50]:
#30
st="siddharthtce@gmail.com"
email="@gmail.com1"
if email in st:
    print("The EMAIL ID is valid")
else:
    print("The EMAIL ID is not valid")

The EMAIL ID is not valid

List Based Practice Problem :

In [5]:
#1
lst=list(range(1,11))
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
#2
lst=[1,2,3,4,5,6,7]
count=0
for i in lst:
    count=count+1
print("the length of the lsit is",count)

the length of the lsit is 7

In [7]:
#3
lst.append(11)

In [8]:
lst

[1, 2, 3, 4, 5, 6, 7, 11]

In [9]:
#4
lst.insert(2,3)

In [10]:
lst

[1, 2, 3, 3, 4, 5, 6, 7, 11]

In [11]:
#5
lst.remove(2)

In [12]:
lst

[1, 3, 3, 4, 5, 6, 7, 11]

In [11]:
#6
lst.pop(4)

5

In [13]:
lst

[1, 3, 3, 4, 5, 6, 7, 11]

In [15]:
#7
count=0
n=50
for i in lst:
    if i ==50:
        count = count+1
if count !=0:
    print("The element is present in the list")
else:
    print("The element is not present in the list")

The element is not present in the list

In [14]:
#9
lst.count(4)

1

In [16]:
#9
count=0
n=50
for i in lst:
    if i ==n:
        count = count+1
print("The element",n, "is present",count,"times")

The element 50 is present 0 times

In [17]:
#10
lst[::-1]

[11, 7, 6, 5, 4, 3, 3, 1]

In [30]:
lst=[42,49,10,45,1,5,19]

In [34]:
#11
lst.sort()

In [35]:
print(lst)

[1, 5, 10, 19, 42, 45, 49]

In [36]:
#12
lst.sort(reverse=True)

In [37]:
lst

[49, 45, 42, 19, 10, 5, 1]

In [38]:
#13
lst=list(range(2,21,2))

In [39]:
lst

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [40]:
#14
lst=list(range(1,21,2))

In [41]:
lst

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [42]:
#15
lst=[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
sum=0
for i in lst:
    sum=sum+i
print("The sum of elements in the list is",sum)

The sume of elements in the list is 100

In [44]:
#16
print("The maximum value in the list is",max(lst))

The maximum value in the list is 19

In [45]:
#17
print("The minimum value in the list is",min(lst))

The minimum value in the list is 1

In [47]:
#23
lst1=[1,2,3,4,5]
lst2=[6,7,8,9,10]
lst1.extend(lst2)

In [48]:
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
#24
for i in lst1:
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [58]:
#26
lst=['1','2','3','4','5']
for i in lst:
    print(int(i))

1
2
3
4
5

In [19]:
#27
lst=[1,2,3,4,5]
for i in lst:
    print(str(i))

1
2
3
4
5

Tuple Based Practice Problem :

In [1]:
a={}

In [2]:
type(a)

dict

In [21]:
#1
a=(1,2,3,4,5)

In [4]:
a

(1, 2, 3, 4, 5)

In [22]:
#2
a[2]

3

In [23]:
#3
len=0
for i in a:
    len=len+1
print("The length of tuple is",len)

The length of tuple is 5

In [24]:
#4
a.count(2)

1

In [25]:
#5
a.index(2)

1

In [26]:
#7
lst=list(a)

In [27]:
type(lst)

list

In [28]:
tup=tuple(lst)

In [29]:
type(tup)

tuple

In [30]:
tup

(1, 2, 3, 4, 5)

In [22]:
#14
count=0
for i in tup:
    count=count+1
if count!=0:
    print("The tuple is not empty")

The tuple is not empty

In [24]:
#18
tup1 = (1,2,3,4,5)
tup2 = (6,7,8,9,10)
if tup1==tup2:
    print("The tuples are equal")
else:
    print("The tuples are not equal")

The tuples are not equal

In [25]:
#19
del(tup)

In [27]:
#21
tup=(42,391,392,10,94,94,19)
max(tup)

392

In [28]:
#22
min(tup)

10

In [29]:
#30
tup1+tup2

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Set Based Practice Problem :

In [31]:
#1
st={1,2,3,4,5}

In [2]:
st

{1, 2, 3, 4, 5}

In [3]:
#2
st.add(6)

In [4]:
st

{1, 2, 3, 4, 5, 6}

In [5]:
#3
st.remove(3)

In [6]:
st

{1, 2, 4, 5, 6}

In [32]:
st

{1, 2, 3, 4, 5}

In [33]:
st1={4,2,4,54,1,1,9}

In [34]:
#9
st.union(st1)

{1, 2, 3, 4, 5, 9, 54}

In [9]:
#10
st.intersection(st1)

{2, 4}

In [10]:
#11
st.difference(st1)

{3, 5}

In [11]:
#12
st.issubset(st1)

False

In [12]:
st={0,1,2}
st1={0,1,2,3,4}

In [13]:
st.issubset(st1)

True

In [14]:
#13
st1.issuperset(st)

True

In [18]:
st

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [20]:
#26
for i in st:
    if i%2==0:
        print(i)

2
4
6
8
10

In [26]:
#29
count=0
st={1,42,39,2,39}
for i in st:
    count=count+1
if count ==0:
    print("The set is empty")
else:
    print("The set is not empty")

The set is not empty

In [25]:
#33
string="This is the String"
st=set(string)
print("The set created from string is",st)

The set created from string is {'T', 's', 'n', 'e', 'r', 'h', 't', 'g', 'i', 'S', ' '}

In [24]:
#34
sts={'19', '2', '219', '39', '49', '59'}
st=set()
for i in sts:
    st.add(int(i))
st

{2, 19, 39, 49, 59, 219}

In [23]:
#35
st={2,49,49,219,19,39,59,19}
sts=set()
for i in st:
    sts.add(str(i))
sts

{'19', '2', '219', '39', '49', '59'}

In [20]:
#36
tup=(1,4,2,32,1,4,2,5)
st=set(tup)
st

{1, 2, 4, 5, 32}

In [21]:
#37
st={1,3,2,5,6,91,1,0,3,9}
tup=tuple(st)
tup

(0, 1, 2, 3, 5, 6, 9, 91)

In [19]:
#38
s-{3,1,4,9,0,1,44,10,59}
print("The maximum value of the set is",max(s))

The maximum value of the set is 59

In [18]:
#39
s={3,1,4,59,3,54}
print("The minimum value of the set is",min(s))

The minimum value of the set is 1

In [16]:
#40
s=set()
for i in range(5):
    s.add(int(input("Enter the number to be added to the set")))
print(s)

Enter the number to be added to the set 3
Enter the number to be added to the set 4
Enter the number to be added to the set 9
Enter the number to be added to the set 1
Enter the number to be added to the set 5

{1, 3, 4, 5, 9}

In [12]:
#41
s1={1,2,3}
s2={4,5,6}
s1.intersection(s2)

set()

In [10]:
#43
ls=[1,2,3,1,2,3]
sls=set(ls)
print(sls)
new_ls=list(sls)
print("The new list after removing duplicates is",new_ls)

{1, 2, 3}
The new list after removing duplicates is [1, 2, 3]

In [7]:
#44
s1={11,2,492,294,21,490,11,194,394,21,2}
s2={11,492,194,490,394,21,2,294}
if s1.difference(s2) == {}:
    print("The sets have same elements")
else:
    print("The sets have different elements")

The sets have different elements

In [8]:
#45
ls=[]
for i in range(5):
    ls.append(pow)
print(ls)

[2, 3, 0, 1, 6]

In [3]:
#46
s={42,52,55,22,52}
ls=[42,44,56,59,51]
sls=set(ls)
sls
s.intersection(sls)

{42}

In [15]:
#48
s1={1,2,3,4,5}
s2={4,5}
s2.issubset(s1)

True

In [13]:
#50
s1={1,2,3,4,5}
s2={6,7,8,9,10}
s3={11,12,13,14,15}
s=set()
s=s1.union(s2,s3)
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}