In [14]:
#1
class bank_account:
    def __init__(self,acc_no,acc_name,bal):
        self.account_number=acc_no
        self.account_name=acc_name
        self.balance=bal
        
    def deposit_money(self,amt):
        print("Amount of Rs."+str(amt)+" has been deposited to the account")
        print("Your new balance is Rs.",self.balance+amt)
    
    def withdraw_money(self,amt):
        print("Amount of Rs."+str(amt)+" has been withdrawn from the account")
        print("Your new balance is Rs.",self.balance-amt)

In [15]:
acc1=bank_account(2832132322,"Ajay",19800000)

In [16]:
acc1.deposit_money(100)

Amount of Rs.100 has been deposited to the account
Your new balance is Rs. 19800100

In [17]:
acc2=bank_account(28919933911,"Siddharth",93334000)

In [19]:
acc2.withdraw_money(200)

Amount of Rs.200 has been withdrawn from the account
Your new balance is Rs. 93333800

In [34]:
#2
class emp_management:
    def __init__(self,id,name,sal):
        self.employee_id = id
        self.employee_name = name
        self.employee_salary = sal
        
    def bonus_display(self):
        print("The employee ",self.employee_name," will get a bonus of",self.employee_salary*0.005)
        
    def emp_details_display(self,loc):
        print(f"The employee id of {self.employee_name} is {self.employee_id} and his salary is Rs.{self.employee_salary}")
        print(f"{self.employee_name} is based out of {loc} location")

In [35]:
emp1=emp_management(101,"Ajay",32911100)

In [32]:
emp1.bonus_display()

The employee  Ajay  will get a bonus of 164555.5

In [36]:
emp1.emp_details_display("Chennai")

The employee id of Ajay is 101 and his salary is Rs.32911100
Ajay is based out of Chennai location

In [37]:
emp2=emp_management(102,"Siddharth",22111000)
emp2.bonus_display()
emp2.emp_details_display("Bengaluru")

The employee  Siddharth  will get a bonus of 110555.0
The employee id of Siddharth is 102 and his salary is Rs.22111000
Siddharth is based out of Bengaluru location

In [44]:
#3
class veh_rental:
    car1="Wagon R"
    car2="Santro"
    car3="Accent"
    
    def rent_vehicle(self,car):
        return "Car "+car+" is rented"
    
    def return_vehicle(self,car):
        return "Car "+car+" is returned"
    
    def display_cars(self,*args):
        print("The list of available cars are ",args)

In [45]:
car1=veh_rental()

In [46]:
car1.display_cars(car1.car1,car1.car2)

The list of available cars are  ('Wagon R', 'Santro')

In [62]:
#4
class library:
    def __init__(self,*args):
        self.books=args
        
    def add_books(self,book):
        return "The book "+book+" is added to the library"
    
    def borrow_books(self,book):
        return "The book "+book+" is returned back from the library"
    
    def available_books(self):
        return "The list of available books are "+str(self.books)

In [63]:
lib1=library("Atomic Habits","Encylopedia","Harry Potter")

In [64]:
lib1.available_books()

"The list of available books are ('Atomic Habits', 'Encylopedia', 'Harry Potter')"

In [89]:
#5
class product_inventory:
    
    def __init__(self,*args):
        self.items=args
    
    def add_product(self,prod):
        return prod+ " is added to the inventory"
    
    def prod_quantity(self):
        print("The number of items in the inventory is",len(self.items))
    
    def inventory_details(self):
        return "The list of items in the inventory is ",args

In [90]:
inv1=product_inventory('Apple','Orange','Mango')

In [91]:
inv1.prod_quantity()

The number of items in the inventory is 3

In [74]:
inv1.add_product('Banana')

'Banana is added to the inventory'

In [102]:
#6
class shape_calculator:
    def __init__(self,l,w,h):
        self.length = l
        self.width = w
        self.height = h
        
    def area(self):
        print("The area is",self.length*self.width)
    
    def perimeter(self):
        print("The perimeter is",2*(self.length+self.width))

In [103]:
obj1=shape_calculator(10,5,5)

In [104]:
obj1.area()

The area is 50

In [105]:
obj1.perimeter()

The perimeter is 30

In [109]:
#7
class student:
    def __init__(self,id,name,*args):
        self.id=id
        self.name=name
        self.marks=list(args)
        
    def grade(self):
        print(f"The average grade of the {self.name} is",sum(self.marks)/len(self.marks))
        
    def student_details(self):
        print(f"The student {self.name} has scored the marks = {self.marks}")

In [110]:
student1=student(101,"Ajay",87,89,90,99,97)

In [111]:
student1.grade()

The average grade of the Ajay is 92.4

In [112]:
student1.student_details()

The student Ajay has scored the marks = [87, 89, 90, 99, 97]

In [1]:
#8
class email:
    def __init__(self,sender,recipient,subject):
        self.email_sender=sender
        self.email_recipient=recipient
        self.email_subject=subject
        
    def send_email(self):
        return "Send the email"
        
    def email_details(self):
        print(f"{self.email_sender} has sent email to {self.email_recipient} on the subject - {self.email_subject}")

In [3]:
sidd_email=email('siddharthtce@gmail.com','sharkattack@gmail.com','Good morning')

In [4]:
sidd_email.send_email()

'Send the email'

In [5]:
sidd_email.email_details()

siddharthtce@gmail.com has sent email to sharkattack@gmail.com on the subject - Good morning

In [33]:
#9
class social_media:
    def __init__(self,username,*args):
        self.username=username
        self.post=list(args)
        
    def add_post(self,text):
        self.post.append(text)
        print(self.post)
           
    def display_post(self):
        return self.post
    
    def search_post(self, text):
        return "The text '"+text+"' is present in the "+str(self.post)

In [34]:
sidd=social_media('siddharth',"This is my first post","This is my second post")

In [27]:
sidd.display_post()

['This is my first post', 'This is my second post']

In [31]:
sidd.search_post("This is my second post")

"The text 'This is my second post' is present in the ['This is my first post', 'This is my second post']"

In [35]:
sidd.add_post("This is my third post")

['This is my first post', 'This is my second post', 'This is my third post']

In [50]:
#10
class task_list:
    def __init__(self,*args):
        self.tasks=list(args)
     
    def add_task(self,task):
        self.tasks.append(task)
        print(self.tasks)
        
    def complete_task(self,task):
        return "The task "+task+" is completed"
    
    def pending_task(self,task):
        self.tasks.remove(task)
        return "The pending tasks are "+str(self.tasks)

In [51]:
tasks1=task_list('Brush','Eat','Bath')

In [52]:
tasks1.add_task('Sleep')

['Brush', 'Eat', 'Bath', 'Sleep']

In [53]:
tasks1.complete_task('Bath')

'The task Bath is completed'

In [54]:
tasks1.pending_task('Bath')

"The pending tasks are ['Brush', 'Eat', 'Sleep']"